### 1. SELECT

Import Pandas Package

In [1]:
import pandas as pd

Define a dictionary containing employee data

In [4]:
data = {
    'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
    'Age': [27, 24, 22, 32],
    'Address': ['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
    'Qualification': ['Msc', 'MA', 'MCA', 'Phd']
}

Convert the dictionary into DataFrame

In [5]:
df = pd.DataFrame(data)

Select two columns

In [6]:
print(df[['Name', 'Qualification']])

     Name Qualification
0     Jai           Msc
1  Princi            MA
2  Gaurav           MCA
3    Anuj           Phd

### 2. ADD

Define a dictionary containing employee data

In [7]:
data = {
    'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
    'Height': [5.1, 6.2, 5.1, 5.2],
    'Qualification': ['Msc', 'MA', 'Msc', 'Msc']
}

Convert the dictionary into DataFrame

In [8]:
df = pd.DataFrame(data)

Declare a list that is to be converted into a column

In [9]:
address = ['Delhi', 'Bangalore', 'Chennai', 'Patna']

Using 'Address' as the column name
and equating it to the list

In [10]:
df['Address'] = address

Observe the result

In [11]:
print(df)

     Name  Height Qualification    Address
0     Jai     5.1           Msc      Delhi
1  Princi     6.2            MA  Bangalore
2  Gaurav     5.1           Msc    Chennai
3    Anuj     5.2           Msc      Patna

### 3. DELETE

Making Data Frame from csv file

In [25]:
data = pd.read_csv("/content/sample_data/california_housing_train.csv")

In [26]:
print(data)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
0          1015.0       472.0         1.4936             66900.0
1          1129.0       463.0         1.8200             80100.0
2           333.0       117.0         1.6509             85700.0
3           515.0       226.0         3.1917             73400.0
4           624.0       262.0         1.9250             65500.0
...           ...         ...            ...                 ...
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

[17000 rows x 9 columns]

Dropping passed columns

In [27]:
data.drop(["population", "median_income"], axis = 1, inplace = True)

Display

In [28]:
print(data)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       households  median_house_value
0           472.0             66900.0
1           463.0             80100.0
2           117.0             85700.0
3           226.0             73400.0
4           262.0             65500.0
...           ...                 ...
16995       369.0            111400.0
16996       465.0             79000.0
16997       456.0            103600.0
16998       478.0             85800.0
16999       270.0             94600.0

[17000 rows x 7 columns]

### 4. RENAME

Define a dictionary containing ICC rankings

In [29]:
rankings = {
    'test': ['India', 'South Africa', 'England', 'New Zealand', 'Australia'],
    'odi': ['England', 'India', 'New Zealand', 'South Africa', 'Pakistan'],
    't20': ['Pakistan', 'India', 'Australia', 'England', 'New Zealand']
}

Convert the dictionary into DataFrame

In [30]:
rankings_pd = pd.DataFrame(rankings)

Before renaming the columns

In [31]:
print(rankings_pd)

           test           odi          t20
0         India       England     Pakistan
1  South Africa         India        India
2       England   New Zealand    Australia
3   New Zealand  South Africa      England
4     Australia      Pakistan  New Zealand

Renaming

In [32]:
rankings_pd.rename(columns = {'test':'TEST'}, inplace =True)

After renaming the columns

In [33]:
print("\n After modifying first column: \n", rankings_pd.columns)

 After modifying first column:
 Index(['TEST', 'odi', 't20'], dtype='object')

### 5. SORT/ORDER

Creating and initializing a nested list

In [43]:
age_list = [
    ['Afghanistan', 1952, 8425333, 'Asia'],
    ['Australia', 1957, 9712569, 'Oceania'],
    ['Brazil', 1962, 76039390, 'Americas'],
    ['China', 1957, 637408000, 'Asia'],
    ['France', 1957, 44310863, 'Europe'],
    ['India', 1952, 372000000, 'Asia'],
    ['United States', 1957, 171984000, 'Americas']
]

Creating a pandas Data Frame

In [44]:
df = pd.DataFrame(age_list,columns = ['Country', 'Year', 'Population', 'Continent'])

Sorting by column 'Country'

In [45]:
df.sort_values(by = ['Country'])

         Country  Year  Population Continent
0    Afghanistan  1952     8425333      Asia
1      Australia  1957     9712569   Oceania
2         Brazil  1962    76039390  Americas
3          China  1957   637408000      Asia
4         France  1957    44310863    Europe
5          India  1952   372000000      Asia
6  United States  1957   171984000  Americas

Nilai default untuk sort data di Pandas adalah ASC, jadi untuk mengurutkan secara DESC
bisa ditambahkan comma setelah column kemudian tambahkan “ascending = False"

In [46]:
df.sort_values(by = ['Population'], ascending = False)

         Country  Year  Population Continent
3          China  1957   637408000      Asia
5          India  1952   372000000      Asia
6  United States  1957   171984000  Americas
2         Brazil  1962    76039390  Americas
4         France  1957    44310863    Europe
1      Australia  1957     9712569   Oceania
0    Afghanistan  1952     8425333      Asia